[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The giver!
[access "refs/*"]
	owner = group user/Harish (Codecity001)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Harish (Codecity001)
	label-Verified = -1..+1 group user/Harish (Codecity001)
	push = group user/Harish (Codecity001)
	read = group user/Harish (Codecity001)
	rebase = group user/Harish (Codecity001)
	removeReviewer = group user/Harish (Codecity001)
	submit = group user/Harish (Codecity001)
[access "refs/heads/*"]
	create = group user/Harish (Codecity001)
	push = +force group user/Harish (Codecity001)
	pushMerge = group user/Harish (Codecity001)
	read = group user/Harish (Codecity001)
[access "refs/tags/*"]
	push = group user/Harish (Codecity001)
	push = +force group user/Harish (Codecity001)
